<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head" >

</head>


<header class="fixed-top">
    <section class="menu">

        <div class="container-fluid">
            <nav class=" container-fluid navbar barra navbar-expand-md">
                <a class="navbar-brand" href="#"><img class="" src="/img/LOGO.png" width="170px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color: #2a3b47;"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nosotros</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Buscar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contactanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn boton-iniciarSesion" href="#">Cerrar sesion</a>
                        </li>

                    </ul>

                </div>
            </nav>
        </div>

    </section>
</header>

<body>

<section class="slider">
    <div class="slider-contenido">


        <p>
            Con esta aplicación web podrás buscar Veterinarias, centros de adopción y<br> campañas cerca a tu distrito.
        </p>
        <a class="btn btn boton-iniciarSesion" href="#">Busca Ahora</a>

    </div>

</section>

<section class="quienesSomos margin-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center"><img class="img-fluid" src="/img/img5.jpg" alt=""></p>

            </div>
            <div class="col-md-6">
                <h1 class="texto-pricipal">Busca<br> todo para tus mascotas</h1>
                <p class="quienestexto">Somos una organización sin fines de lucro que busca incrementar
                    el número de adopciones en Lima, a través de un espacio virtual.que centralice las oportunidades de adopción, brindando además
                    asesoría integral a los adoptantes y trabajando en coordinación
                    con una red de albergues.</p>

            </div>
        </div>
    </div>
</section>


<section class="registro2 margin-50 paddin-50">


    <div class="container ">
        <div class="row">

            <div class="col-md-5 shadow-lg p-3 mb-5 bg-white rounded ">
                <form>

                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nombre</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Apellidos</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Correo</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Correo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Escritura</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>


                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Acepto los terminos y condiciones.
                            </label>
                        </div>
                    </div>

                    <div class="form-group">

                        <p class=""><button type="submit" class="btn btn-primary ">Unirme</button></p>


                    </div>


                </form>

            </div>
            <div class="col-md-5">


            </div>


        </div>
    </div>

</section>













<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</body>
</html>