<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">

</head>
<body>

<header class="fixed-top">
<section class="menu">

<div class="container">
        <nav class="container navbar navbar-dark navbar-expand-md  bg-dark">
                <a class="navbar-brand" href="#">Fixed navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="administrador.html">Buscar</a>
                    </li>
                  
                  </ul>
                 
                </div>
              </nav>
            </div>

</section>

</header>

<section class="bannerClientes">
    <div class="container">
    <h1>Bienvenido al <br>sistema de clientes</h1>
        <a th:href="@{usuario/add}"  class="btn btn btn-outline-primary btn-sm "  data-toggle="modal" data-target="#exampleModal" >Agregar cliente</a>
</div>
</section>

     <section class="tablaClientes">


         <div th:switch="usuarios">
             <div th:case="*">

      <table class="table text-center table-borderless table-responsive-xl">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Correo</th>
                <th scope="col">Celular</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="usuario: ${usuarios}">
              <th scope="row" th:text="${usuario.id}"></th>
              <td th:text="${usuario.nombres}"></td>
              <td th:text="${usuario.apellidos}"></td>
              <td th:text="${usuario.correo}"></td>
                <td th:text="${usuario.celular}"></td>

           
              <td>
                  <a th:href="@{/usuario/edit/{id}
                                    (id=${usuario.id})}"
                     class="btn btn btn-outline-primary btn-sm"  data-toggle="modal" data-target="#exampleModalCenter">Editar</a></td>
              <td><a class="btn btn btn-outline-primary btn-sm"
                     th:href="@{/usuario/delete/{id}
                     (id=${usuario.id})}" >Eliminar</a></td>
              
            </tr>
            
            
          </tbody>
        </table>
        
       
  </div>
</div>
</div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post"
                      th:object="${usuario}"
                      th:action="@{/usuario/save} "

                >


                    <div class="form-row ">

                        <div class="form-group col-md-12">
                            <label for="id">Codigo</label>
                            <input type="text" class="form-control" id="id" placeholder="" th:field="*{id}"
                                   >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombres">Nombre</label>
                            <input type="text" class="form-control" id="nombres" th:field="*{nombres}" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos"th:field="*{apellidos}" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control" id="correo" th:field="*{correo}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="celular">celular</label>
                        <input type="text" class="form-control" id="celular"th:field="*{celular}">
                    </div>




                    <div class="form-group">

                        <p class="text-left"><button type="submit" class="btn btn btn-outline-primary">Agregar</button>  <button type="button" class="btn btn btn-outline-primary " data-dismiss="modal">Close</button></p>


                    </div>


                </form>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Editar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
            <form action="#" method="post"
                  th:object="${usuario}"
                  th:action="@{/usuario/update/{id} (id=${usuario.id})} "

            >


                <div class="form-row ">

                    <div class="form-group col-md-12">
                        <label for="id">Codigo</label>
                        <input type="text" class="form-control" id="id" placeholder="" th:field="*{id}"
                               >
                      </div>
                    <div class="form-group col-md-6">
                      <label for="nombres">Nombre</label>
                      <input type="text" class="form-control" id="nombres" th:field="*{nombres}" >
                    </div>
                    <div class="form-group col-md-6">
                      <label for="apellidos">Apellidos</label>
                      <input type="text" class="form-control" id="apellidos"th:field="*{apellidos}" >
                    </div>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" th:field="*{correo}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="celular">celular</label>
                  <input type="text" class="form-control" id="celular"th:field="*{celular}">
                </div>       
                
                
               
  
                <div class="form-group">
                  
                    <p class="text-left"><button type="submit" class="btn btn btn-outline-primary">Editar</button>  <button type="button" class="btn btn btn-outline-primary " data-dismiss="modal">Close</button></p>
              
                    
                </div>
                
               
              </form>


        </div>




      </div>
    </div>
</div>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></scrip>
    </script>

</body>
</body>
</html>